@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

:root {
  --color-bg: #ededed;
  --color-text: #171717;
  --highlight: #DA0037; 
}

.light-mode {
  --color-bg: #ededed;
  --color-text: #171717;
  animation: fadein2 0.5s linear;
}

.dark-mode {
  --color-bg: #171717;
  --color-text: #EDEDED;
  animation-name: fadein1;
  animation-duration: 0.5s;
}

html {
  scroll-behavior: smooth;
  cursor: none;
  background-color: var(--color-bg);
}

@keyframes fadein1 {
  0% { background-color: #EDEDED; }
  100%   { background-color: #171717; }
}

@keyframes fadein2 {
  0% { background-color: #171717; }
  100%   { background-color: #EDEDED; }
}


html, body
{
  cursor: none;
  background-color: var(--color-bg)
}


body {
  font-family: Inter Tight, sans-serif;
}

/* Navbar stuff / minimal */

.link {
  cursor: none;
  color: var(--highlight);
}

.nav-link {
  font-family: Inter Tight, sans-serif;
  color: var(--color-text)
}


.nav-link:hover {
  color: var(--highlight);
}

.hero {
	height: 90vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-text);
}

.title {
  font-family: Inter Tight, sans-serif;
  color: var(--color-text)
}

.title h1 {
  font-size: 3.8rem;
}
.title h6 {
  font-size: 2rem;
}


span {
  text-decoration: none;
  color: var(--color-text)
}

.proj:hover {
  color: var(--highlight);
}


.clock {
	font-family: Inter Tight, sans-serif;
	color: var(--highlight);
}

.highlight {
  color: var(--highlight);
}

.container-fluid {
  padding: 2vh 2vw;
}

.diagram {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
  .color {
    /* display: none; */
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
  
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  p {
    padding: 3vh 0;
    color: var(--color-text);
  }

  #work {
    padding: 6vh 0;
  }


  .card {
    width: 100%;
    border: none;
  }

  .row {
    padding: 3vh 0;
  }

  /* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	/* background: var(--color-link); */
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}

}

.hero-img {
  width: 100%;
  padding: 2vh 0;
}
.hero-img-main {
  width: 100%;
  padding: 3vh 0;
}

p.page {
  padding: 0;
}

div.page {
  padding: 6vh 0;
}

#myBtn {
  cursor: none;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer; /* Add a mouse pointer on hover */
}

#myBtn:hover {
  cursor: none;
  background-color: rgba(0, 0, 0, 0); /* Add a dark-grey background on hover */
}

.show {
  animation: fadeIn 2s;
}

.hide {
  animation: fadeOut 2s;
}

  .inline-image {
    width: 100%;
    padding: 2vh 2vw;
  }

  .active {
    color: var(--highlight);
  }

  a {
    text-decoration: none;
  }

  #myCarousel {
    padding: 5vh 0;
  }

#archives {
  height: 400px;
  background-color: var(--color-bg);
}

.archives {
  padding: 5vh 0;
}

.bi {
  font-size: 30px;
  padding: 1vh 0.5vw;
  color: var(--color-text);
  transition: color 0.2s linear;
}

.bi:hover {
  color: var(--highlight)
}

a {
  cursor: none;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
}

#about {
  padding: 5vh 0;
}

.nav-right {
  display: flex;
}

.bi-brightness-high-fill, .bi-moon-fill {
  color: var(--highlight);
  padding: 0 2vw;
}

.venn {
  fill: var(--color-text);
}
.scribble {
  stroke: var(--highlight);
}

.footer {
  background-color: var(--color-bg);
}


button, button:hover, button:active, button:focus {
  cursor: none;
  /* cursor: default; */
}

.btn {
  cursor: none;
  color: var(--highlight);
  stroke: var(--highlight);
}
.btn:hover {
  cursor:none;
  color: var(--color-bg);
  background-color: var(var(--highlight))
}

.btn-work {
  cursor: none;
  color: var(--color-text);
  background-color: var(--color-bg);
  border: none;
}
.btn-work:hover {
  color: var(--highlight);
}

.tabs {
  display: block;
  color: var(--color-text);
}

.tabs h6 {
  font-size: 1.5rem;
  padding-right: 2vw;
  color: var(--color-text);
}

.tabs h6:hover {
  color: var(--highlight);
}
