.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
  }
  
  
  .progress-container {
    width: 100%;
    height: 4px;
    background: var(--color-bg);
  }
  
  .progress-bar {
    height: 4px;
    background: var(--highlight);
    width: 0%;
  }